/*  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ====== Main CSS ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.section-margin {
  margin: 120px 0;
}

/* ====== Header Area ====== */
header {
  min-height: 100vh;
}

.header-area {
  background-image: url(img/donation3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  background-size: cover;
  height: 100vh;
}

.dark-layer:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.header-content {
  top: 25%;
  position: relative;
  z-index: 999;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  color: #fff;

}

.header-content h1 {
  font-size: 65px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 40px;
}

.header-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.btn {
  text-decoration: none;
  font-size: 16px;
  background: orangered;
  padding: 10px 25px;
  border-radius: 5px;
  color: #fff;
  max-width: 220px;
  margin: 0 auto;
  margin-top: 40px;
}

/*  */

.donation-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.single-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 60px;
  margin-bottom: 40px;
}

.single-item div {
  width: 140px;
  height: 135px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.single-item h3 {
  display: block;
  font-size: 30px;
  color: gray;
  top: 40px;
}

.common-donte {
  border: 2px solid #FF5959;
  border-radius: 5px;
}

.common-donte h3 {
  color: #FF5959;
}

.donation-area input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

.donation-area input:hover[type=text] {
  border-bottom: 2px solid #FF5959;
}

/* planing-text */
.planing-text {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.planing-items {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  margin: 20px;
  padding: 20px;
  height: 450px;
  border-radius: 10px;
  width: 330px
}

.item i {
  font-size: 50px;
  margin-bottom: 25px;
}

.item h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.item-1 {
  background-color: #afd0d4b3;
}

.item-2 {
  background-color: #fad6d6;
}

.item-3 {
  background-color: #fbe8b4;
}

/* subscription-area */
.subscription-area,
.donation-area,
.visual-area {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.subscription-text h2,
.planing-text h2,
.donation-text h2,
.visual-text h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 25px;
}

.subscription-form {
  background-color: #FFF4D6;
  height: 200px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
}

input[type=text],
select {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #D9D9D9;
}

input[type=submit] {
  /* width: 100%; */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #FF5959;
}

/* ===== */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.image-gallery img {
  width: 300px;
  height: 200px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* ==== Footer === */
footer {
  background-color: #0B0D17;

}

.footer-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.footer-text h3 {
  color: #FF5959;
  font-family: 'Dancing Script', cursive;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;

}

.footer-text p {
  font-size: 14px;
  font-weight: 300;
}